<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>



<div id="interface">
    
    
    <hr id="linha" style="height: 10px;" color="#6d78a8">
    
    <header id="cabeçalho">        
        <img id="logo" src="../static/images/logo.png">
    <nav class="menu">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <span>|</span>
            <li><a href="{{url_for('quemsomos') }}">Quem Somos</a></li>
            <span>|</span>
            <li><a href="{{ url_for('contato') }}">Contato</a></li>
        </ul>
    </nav>
    </header> 
 <img id="capa" src="../static/images/capa.png  ">
 <hgroup id="sobre">
 <h1>Sobre a universidade</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquam nulla optio, dolorem ratione fuga ea voluptatem, voluptates eveniet perferendis sit cum est unde. Amet autem libero officia incidunt optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel laboriosam inventore numquam enim quidem exercitationem vitae aspernatur, aperiam similique aliquid sequi, ad assumenda quaerat asperiores sit optio repellat consequatur officiis.</p>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quaerat sunt veniam numquam iste ut tempore optio? Pariatur labore quasi odio, quidem iusto eligendi aspernatur sunt eveniet repudiandae, ipsa dicta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur aut omnis, iusto alias fugiat id dolorum mollitia quae, ab maiores nisi nostrum assumenda quod enim quo qui ipsam reiciendis rem.</p> 
 <h4>Todos os direitos reservados</h4> 
</hgroup>
</div>
</body>
</html>